/* GLOBAL STYLES */
body {
  margin: 0;
}

/* DRAWING CANVAS STYLES */
.sketchpad {
  height: 500px;
  width: 500px;
}

.row {
  display: flex;
  height: 6.25%;
}

.cell {
  border: 1px solid #000;
  flex: 1;
}